---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import Hero from '../components/Hero.astro';
import WhoWeAre from '../components/sections/WhoWeAre.astro';
import WhyJoin from '../components/sections/WhyJoin.astro';
import Program from '../components/sections/Program.astro';
import GetInvolved from '../components/sections/GetInvolved.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <NavBar />
  <main id="main">
    <Hero />
    <WhoWeAre />
    <WhyJoin />
    <Program />
    <GetInvolved />
    <Contact />
  </main>
  <Footer />
</Layout>
